Big projects/my-first-angular-project/.editorconfig
Big projects/my-first-angular-project/.gitignore
Big projects/my-first-angular-project/angular.json
Big projects/my-first-angular-project/package-lock.json
Big projects/my-first-angular-project/package.json
Big projects/my-first-angular-project/README.md
Big projects/my-first-angular-project/tsconfig.app.json
Big projects/my-first-angular-project/tsconfig.json
Big projects/my-first-angular-project/tsconfig.spec.json
Big projects/my-first-angular-project/.vscode/extensions.json
Big projects/my-first-angular-project/.vscode/launch.json
Big projects/my-first-angular-project/.vscode/tasks.json
Big projects/my-first-angular-project/src/favicon.ico
Big projects/my-first-angular-project/src/index.html
Big projects/my-first-angular-project/src/main.ts
Big projects/my-first-angular-project/src/styles.css
Big projects/my-first-angular-project/src/app/app-routing.module.ts
Big projects/my-first-angular-project/src/app/app.component.css
Big projects/my-first-angular-project/src/app/app.component.html
Big projects/my-first-angular-project/src/app/app.component.spec.ts
Big projects/my-first-angular-project/src/app/app.component.ts
Big projects/my-first-angular-project/src/app/app.module.ts
Big projects/my-first-angular-project/src/app/home.component.ts
Big projects/my-first-angular-project/src/app/products.component.html
Big projects/my-first-angular-project/src/app/products.component.ts
Big projects/my-first-angular-project/src/app/products.service.ts
Big projects/my-first-angular-project/src/app/product/product.component.css
Big projects/my-first-angular-project/src/app/product/product.component.html
Big projects/my-first-angular-project/src/app/product/product.component.spec.ts
Big projects/my-first-angular-project/src/app/product/product.component.ts
Big projects/my-first-angular-project/src/assets/.gitkeep
Big projects/material-demo/.editorconfig
Big projects/material-demo/.gitignore
Big projects/material-demo/angular.json
Big projects/material-demo/package-lock.json
Big projects/material-demo/package.json
Big projects/material-demo/README.md
Big projects/material-demo/tsconfig.app.json
Big projects/material-demo/tsconfig.json
Big projects/material-demo/tsconfig.spec.json
Big projects/material-demo/.vscode/extensions.json
Big projects/material-demo/.vscode/launch.json
Big projects/material-demo/.vscode/tasks.json
Big projects/material-demo/src/favicon.ico
Big projects/material-demo/src/index.html
Big projects/material-demo/src/main.ts
Big projects/material-demo/src/styles.css
Big projects/material-demo/src/app/app.component.css
Big projects/material-demo/src/app/app.component.html
Big projects/material-demo/src/app/app.component.spec.ts
Big projects/material-demo/src/app/app.component.ts
Big projects/material-demo/src/app/app.module.ts
Big projects/material-demo/src/assets/.gitkeep
