/* Smartphones */
@media screen and (max-width: 599px) {


    .linksSidenav a {
        color: black;
        padding-left: 27px;
    }

    #button {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
}