<section class="new-booking">
    <form (ngSubmit)="onStartBooking(f)" #f="ngForm">

        <mat-card>
            <mat-card-title>Book Your Stay</mat-card-title>

            <mat-card-content>
                <mat-form-field>
                    <mat-label>
                        What room / suite do you want?
                    </mat-label>
                    <mat-select ngModel name="roomName" required>
                        <mat-option *ngFor="let room of rooms" [value]="room.name">
                            {{room.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button [disabled]="f.invalid" color="primary" type="submit">Book</button>
            </mat-card-actions>
        </mat-card>


    </form>

</section>