<mat-sidenav-container>

    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list class="linksSidenav">
            <a mat-list-item routerLink="">Sign Up</a>
            <a mat-list-item routerLink="">Login</a>
            <a mat-list-item routerLink="">Rooms & Suites</a>
            <mat-list-item>
                <button mat-icon-button><span>Log Out</span></button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <div class="button">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div><a routerLink="">Portman Hotel</a></div>

            <div class="linksNav">
                <a routerLink="">Sign Up</a>
                <a routerLink="">Login</a>
                <a routerLink="">Rooms & Suites</a>
            </div>
        </mat-toolbar>

        <main>
            <router-outlet></router-outlet>
        </main>

    </mat-sidenav-content>

</mat-sidenav-container>