mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

/* Styling the links from the navbar */

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: orange;
}

.linksNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
}

/* Smartphones */
@media screen and (max-width: 599px) {
    .linksNav {
        display: none;
    }

    .linksSidenav a {
        color: black;
    }
}

/* Desktop PC */
@media screen and (min-width: 600px) {
    .button {
        display: none;
    }
}