<body>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <header class="header">
        <div class="container">
            <div>
                <h1>Portman Hotel</h1>
                <p>
                    Portman Hotel is a global brand of full-service hotels
                    and resorts and the flagship brand of French multinational hospitality company Portman.
                </p>
            </div>
            <img src="../../../../Images/portman-hotel-website-favicon-white.png" alt="Logo Portman Hotel">
        </div>
    </header>

    <section class="boxes">
        <div class="container">
            <div class="box">
                <h2> <img src="../../../../Images/gift.svg" alt=""> From our home to yours</h2>
                <p>Bring some Portman Hotel into someone's life with a gift from our online boutique. Works equally well
                    on
                    yourself.</p>
            </div>

            <div class="box">
                <h2> <img src="../../../../Images/bowl-food.svg" alt="">
                    Our gourmet boutique</h2>
                <p>Work up an appetite for the most exquisite French treats. Stroll just beyond the Portman Hotel to Rue
                    Cambon.</p>
            </div>

            <div class="box">
                <h2> <img src="../../../../Images/leaf.svg" alt=""> Certified sustainability</h2>
                <p>The Portman Hotel from Paris is the first hotel in France to obtain certification from the Global
                    Sustainable Tourism Council.</p>
            </div>
        </div>
    </section>
</body>