<app-new-booking *ngIf="!ongoingBooking" (bookingStart)="bookingStartFunction($event)"></app-new-booking>

<app-current-booking *ngIf="ongoingBooking" (onAddReservation)="addReservation($event)"
    (bookingExit)="ongoingBooking = !ongoingBooking" [roomName]="roomName">
</app-current-booking>

<div *ngIf="!ongoingBooking">
    <app-reservation-item *ngFor="let reservation of reservations" [reservation]="reservation"
        (onDeleteReservation)="deleteReservation(reservation)"></app-reservation-item>
</div>