main {
    min-height: calc(100vh - 110px - 434px);
}

main .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}

main .container .hotel-image {
    width: 100%;
}

/* .hotel-image-container {
    display: flex;
    align-items:center;
    justify-content: center;
} */

.hotel-image-container img{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

