<mat-toolbar color="primary">
    <div class="button">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div><a routerLink="/">Portman Hotel</a></div>

    <div class="linksNav">
        <a routerLink="/signup" *ngIf="!isAuthenticated()">Sign Up</a>
        <a routerLink="/login" *ngIf="!isAuthenticated()">Login</a>
        <a routerLink="/booking" *ngIf="isAuthenticated()">Rooms & Suites</a>
        <a (click)="logout()" *ngIf="isAuthenticated()">Log Out</a>
    </div>
</mat-toolbar>